<div class="container">

  <div class="row mb-2">
    <!-- MODAL DE EDITAR -->
    <ng-template #editarModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Editar dados de {{this.remetente.nome}}
        </h4>
      </div>
      <div class="modal-body">
        <form #editarForm="ngForm" (ngSubmit)="editarRemetente(editarForm)">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" id="nome"
                       placeholder="Nome"
                       [(ngModel)]="this.remetente.nome">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="cpf">E-mail</label>
                <input type="text" name="cpf" class="form-control" id="cpf" placeholder="CPF"
                       [(ngModel)]="this.remetente.cpf" mask="000.000.000-00">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="phone" name="telefone" maxlength="15" class="form-control" id="telefone"
                       placeholder="Telefone"
                       [(ngModel)]="this.remetente.telefone" mask='(00) 00000-0000'>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="E-mail"
                       [(ngModel)]="this.remetente.email">
              </div>
            </div>
          </div>

          <h4>Endereço</h4>

          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" name="cep" class="form-control" id="cep" placeholder="CEP"
                       [(ngModel)]="this.remetente.endereco.cep" (input)="buscarPorCep(editarForm)" maxlength="9"
                       mask='00000-000'>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" class="form-control" id="logradouro" placeholder="Logradouro"
                       [(ngModel)]="this.remetente.endereco.logradouro">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="numero">Número</label>
                <input type="number" name="numero" class="form-control" id="numero" placeholder="Nº"
                       [(ngModel)]="this.remetente.endereco.numero" maxlength="6">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="complemento">Complemento</label>
                <input type="email" name="complemento" class="form-control" id="complemento" placeholder="Complemento"
                       [(ngModel)]="this.remetente.endereco.complemento">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="texto" name="bairro" class="form-control" id="bairro" placeholder="Bairro"
                       [(ngModel)]="this.remetente.endereco.bairro">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="localidade">Localidade</label>
                <input type="text" name="localidade" class="form-control" id="localidade" placeholder="Localidade"
                       [(ngModel)]="this.remetente.endereco.localidade">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="uf">Estado</label>
                <input type="text" name="uf" class="form-control" id="uf" placeholder="Estado"
                       [(ngModel)]="this.remetente.endereco.uf" maxlength="2">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-success float-right">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-secondary" (click)="closeModal()">
                <i class="fa fa-arrow-circle-left"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>

  <div class="card">
    <div class="col-12">
      <div class="card-body">
        <h5 class="card-title">
          Informações do remetente
        </h5>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Nome
            </h6>
            <span>
              {{this.remetente.nome}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              CPF
            </h6>
            <span>
              {{this.remetente.cpf | mask: '000.000.000-00'}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Telefone
            </h6>
            <span>
              {{this.remetente.telefone | mask: '(00) 00000-0000' }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h6 class="card-subtitle  mt-2 text-muted">
              E-mail
            </h6>
            <span>
              {{this.remetente.email}}
            </span>
          </div>
        </div>
        <h5 class="card-title mt-5">
          Endereço do usuário
        </h5>
        <div class="row">
          <div class="col-2">
            <h6 class="card-subtitle  mt-2 text-muted">
              CEP
            </h6>
            <span>
              {{this.remetente.endereco.cep | mask: '00000-000'}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Logradouro
            </h6>
            <span>
              {{this.remetente.endereco.logradouro}}
            </span>
          </div>
          <div class="col-2">
            <h6 class="card-subtitle  mt-2 text-muted">
              Número
            </h6>
            <span>
              {{this.remetente.endereco.numero}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Complemento
            </h6>
            <span>
              {{this.remetente.endereco.complemento}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Bairro
            </h6>
            <span>
              {{this.remetente.endereco.bairro}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Localidade
            </h6>
            <span>
              {{this.remetente.endereco.localidade}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Estado
            </h6>
            <span>
              {{this.remetente.endereco.uf}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="voltar()" class="btn btn-secondary">
        <i class="fa fa-arrow-circle-left"></i>
      </button>
      <div class="float-right">
        <button (click)="abrirModalEditar(editarModal)" class="btn btn-success">
          <i class="fa fa-edit"></i>
        </button>
        <button (click)="deletar(this.remetente.id)" class="btn btn-danger ml-2">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>


</div>
